corona/01.png
corona/01@2x.png
corona/02.png
corona/02@2x.png
corona/03.png
corona/03@2x.png
corona/04.png
corona/04@2x.png
corona/05.png
corona/05@2x.png
corona/06.png
corona/06@2x.png
corona/BG_stage_select.png
corona/BG_stage_select@2x.png
corona/Braxton.otf
corona/GameOver.png
corona/GameOver@2x.png
corona/Icon-72.png
corona/Icon-72@2x.png
corona/Icon-Small-50.png
corona/Icon-Small-50@2x.png
corona/Icon-Small.png
corona/Icon-Small@2x.png
corona/Icon-hdpi.png
corona/Icon-ldpi.png
corona/Icon-mdpi.png
corona/Icon-xhdpi.png
corona/Icon.png
corona/Icon@2x.png
corona/LICENSE
corona/README.md
corona/back.png
corona/back@2x.png
corona/barra_externa.png
corona/barra_interna.png
corona/barra_mask.png
corona/barra_menina.png
corona/barra_menina@2x.png
corona/barra_monster.png
corona/bau.png
corona/bau@2x.png
corona/blend.png
corona/blend@2x.png
corona/block.lua
corona/board.lua
corona/build.settings
corona/config.lua
corona/creditos.lua
corona/creditos.png
corona/creditos@2x.png
corona/creditosNOVO.png
corona/creditosNOVO@2x.png
corona/credits.png
corona/credits@2x.png
corona/d_arrow.png
corona/d_arrow@2x.png
corona/db.lua
corona/dbscripts.lua
corona/downcurve.png
corona/downcurve@2x.png
corona/downstraight.png
corona/downstraight@2x.png
corona/downstraight@x.png
corona/embed.png
corona/embed@2x.png
corona/final_scene_tela_3.mp4
corona/good_scene01.png
corona/good_scene01@2x.png
corona/hud.png
corona/hud@2x.png
corona/icon1024X1024.png
corona/icon512X512.png
corona/jogar.png
corona/jogar@2x.png
corona/l_arrow.png
corona/l_arrow@2x.png
corona/level.lua
corona/levelsdata.lua
corona/levelselection.lua
corona/loadNextScene.lua
corona/logo.png
corona/logo@2x.png
corona/main.lua
corona/menu.lua
corona/powercurve.png
corona/powercurve@2x.png
corona/powerstraight.png
corona/powerstraight@2x.png
corona/puzzle_screen.jpg
corona/r_arrow.png
corona/r_arrow@2x.png
corona/selina.lua
corona/selinass.lua
corona/selinass.png
corona/selinass@2x.png
corona/som_off.png
corona/som_off@2x.png
corona/som_on.png
corona/som_on@2x.png
corona/soundControl.lua
corona/sound_Danger.mp3
corona/sound_GameOver.mp3
corona/sound_Intro.mp3
corona/sound_Tranks.mp3
corona/sound_VirouProMau.mp3
corona/splash.lua
corona/splash_screen.png
corona/stage_clear.png
corona/stage_clear@2x.png
corona/start_screen_01.jpg
corona/start_screen_01@2x.jpg
corona/stone01.png
corona/stone01@2x.png
corona/tela_ruim.png
corona/tela_ruim@2x.png
corona/timerBar.lua
corona/u_arrow.png
corona/u_arrow@2x.png